backend/feature_disease_ferti_rec/dicease_detect/train_images/
backend/feature_disease_ferti_rec/dicease_detect_2/train_images
backend/feature_disease_ferti_rec/combine_images/firebase_credentials.json
backend/feature_disease_ferti_rec/dicease_detect/best_model.keras
backend/feature_disease_ferti_rec/dicease_detect/final_model.h5
backend/feature_disease_ferti_rec/dicease_detect/images.npy
backend/feature_disease_ferti_rec/dicease_detect/label_encoder_classes.npy
backend/feature_disease_ferti_rec/dicease_detect/labels.npy
backend/feature_disease_ferti_rec/dicease_detect/X_test.npy
backend/feature_disease_ferti_rec/dicease_detect/X_train.npy
backend/feature_disease_ferti_rec/dicease_detect/X_val.npy
backend/feature_disease_ferti_rec/dicease_detect/y_test.npy
backend/feature_disease_ferti_rec/dicease_detect/y_train.npy
backend/feature_disease_ferti_rec/dicease_detect/y_val.npy
backend/feature_chatbot/models/fine_tuned_multilingual_model/model.safetensors
backend/env
backend/serviceAccountKey.json
/frontend/android/app/.cxx
/frontend/linux
/frontend/windows
